// Переменные со шрифтами

$montserrat: 'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', cursive;
$roboto: 'Roboto', sans-serif;

// Переменные с цветом 

$pink: #f38181;
$yellow: #fce38a;
$white: #eaffd0;
$blue: #95e1d3;

// Переменная с размером шрифта

$size: 14px;


// Body

li {
  list-style: none;
}

// Header 

.header {
  width: 100%;
  .main-foto-1 {
    height: 100vh;
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.62) 0%, rgba(243, 129, 129, 0.58) 100%), url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .main-foto-2 {
    height: 100vh;
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.62) 0%, rgba(243, 129, 129, 0.58) 100%), url(../img/fon2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .main-foto-3 {
    height: 100vh;
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.62) 0%, rgba(243, 129, 129, 0.58) 100%), url(../img/fon3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .main-foto-4 {
    height: 100vh;
    background-image: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.62) 0%, rgba(243, 129, 129, 0.58) 100%), url(../img/fon4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .container {
    position: absolute;
    right: 50%;
    width: 1200px;
    margin-right: -600px;
    height: 670px;
    bottom: 0px;
    .logo {
      padding-top: 30px;
      display: inline-block;
      h4 {
        font-family: $montserrat;
        font-weight: 700;
        color: #fff;
        display: inline-block;
        font-size: 30px;
      }
    }
    .menu ul {
      word-spacing: 30px;
    }
    .menu ul li {
      display: inline-block;
      padding-top: 30px;
    }
    .menu ul li a {
      text-transform: uppercase;
      color: #fff;
      line-height: 50px ;
      text-decoration: none;
      font-family: $montserrat;
      font-weight: 400;
      font-size: $size;
    }
    .menu ul li a:hover {
      border-bottom: 2px solid $yellow;
      color: $yellow;
      padding-bottom: 7px;
    }
  }
  h2 {
    padding-top: 50px;
    font-family: $kaushan;
    color: #fff;
    font-size: 72px;
    padding-bottom: 40px;
  }
  h1 {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  span {
    display: block;
    width: 100px;
    color: #fff;
    height: 4px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .link-btn {
    padding: 10px;
      .link-more {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: $size;
    font-family: $montserrat;
    font-weight: 700;
    border: 3px solid #fff;
    padding: 10px 40px;
    }
  }
  .main-text {
      font-family: $montserrat;
      font-size: 14px;
      font-weight: 700;
      color: #faf3dc;
      position: relative;
      bottom: -75px;
      left: 5px;
  }
}
 
 Фоновый слайдер

.slider {
  position: relative;
  width: 1200px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider .slick-dots{
  padding:0;
  position: absolute;
  bottom: 35px;
}
.slider .slick-dots li{
  display:inline-block;
  width:19%;
  height: 3px;
  margin:0 40px 0 0;
  padding:0;
  cursor:pointer;
  background-color:#f7eac5;
  background-size:100% 100%;
  background-image:-webkit-gradient(linear, left, right, color-stop(1, rgb(16,56,16)), color-stop(1, transparent));
  background-image:-o-linear-gradient(left, rgb(16,56,16) 100%, transparent);
  background-image:-moz-linear-gradient(left, rgb(16,56,16) 100%, transparent);
  background-image:-webkit-linear-gradient(left, rgb(16,56,16) 100%, transparent);
  background-image:linear-gradient(to right,#f38181 100%,transparent 100%);
  background-repeat:no-repeat;
}
.slider .slick-dots li:last-child{
  margin-right:0;
}
.slider .slick-dots li:hover,.slider .slick-dots li.slick-active{
  background-color:#a08a7f;
}
.slider .slick-dots li button{
  display: none !important;
}
.slider .slick-dots li.slick-active~li{
  background-size:0% 0%;
}
.slider .slick-dots li.slick-active{
  -webkit-animation:right 3s ease-in-out forwards;
  -moz-animation:right 3s ease-in-out forwards;
  -o-animation:right 3s ease-in-out forwards;
  animation:right 3s ease-in-out forwards;
}
@keyframes right{
  0%{
    background-size:0% 100%;
  }

  100%{
    background-size:100% 100%;
  }
}
// Конец фонового слайдера


// ----------------------------------------


// About-team
.about-team {
  width: 100%;
  background-color: #fff;
  .container-team {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 70px;
    .text-team {
      padding-top: 70px;
      font-family: $kaushan;
      color: #000;
      font-size: 24px;
    }
    .text-team-main {
      font-family: $montserrat;
      font-size: 30px;
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
    }
    .line-red {
      margin-top: 40px;
      display: block;
      width: 100px;
      height: 4px;
      background-color: $pink;
      margin: 50px auto;
      margin-bottom: 70px;
    }
    .about-text {
      font-family: $roboto;
      font-size: $size;
      color: #000;
      padding-left: 150px;
      padding-right: 150px;
      font-weight: 400;
      line-height: 1.7;
      margin-bottom: 60px;
    }
  }
  .foto-team {
    position: relative;
    background-color: $blue;
    width: 380px;
    height: 250px;
    .about-team-foto-1 {
      position: absolute;
      width: 380px;
      height: 250px;
      background: url(../img/about-team/about-team-1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0px;
      margin-top: 0px;
      transition: margin 1s ease;
    }
    .about-team-foto-1:hover {
      margin-top: -10px;
      margin-left: -10px;
      background: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.62) 0%, rgba(243, 129, 129, 0.58) 100%), url(../img/about-team/about-team-1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
    }
    .about-team-foto-2 {
      position: absolute;
      width: 380px;
      height: 250px;
      background: url(../img/about-team/about-team-2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0px;
      margin-top: 0px;
      transition: margin 1s ease;
    }
    .about-team-foto-2:hover {
      margin-top: -10px;
      margin-left: -10px;
      background: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.62) 0%, rgba(243, 129, 129, 0.58) 100%), url(../img/about-team/about-team-2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
    }
    .about-team-foto-3 {
      position: absolute;
      width: 380px;
      height: 250px;
      background: url(../img/about-team/about-team-3.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0px;
      margin-top: 0px;
      transition: margin 1s ease;
    }
    .about-team-foto-3:hover {
      margin-top: -10px;
      margin-left: -10px;
      background: -webkit-linear-gradient(90deg, rgba(252, 227, 138, 0.62) 0%, rgba(243, 129, 129, 0.58) 100%), url(../img/about-team/about-team-3.jpg);
      background-repeat: no-repeat;
      background-position: center center;
    }
    .mini-link {
      text-align: center;
      padding-top: 115px;
      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 700;
        p {
          padding-top: 5px;
        }
      }
    }
  }
}
// Close About-Team

// Start Feature-numbers 

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
 
.col-xs-1-5 {
  width: 20%;
  float: left;
}
 
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}
.feature-numbers {
  width: 100%;
  background-color: $blue;
  .container-numbers {
    padding-top: 90px;
    padding-bottom: 90px;
    width: 1200px;
    margin:0 auto;
    text-align: center;
    li {
      display:inline-block;
    }
    .text-number {
      font-family: $montserrat;
      font-size: 52px;
      font-weight: 700;
      color: #fff;
    }
    .mini-text-number {
      font-family: $montserrat;
      font-weight: 400;
      font-size: $size;
      color: #fff;
    }
  }
}