/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("/dist/fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("/dist/fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("/dist/fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("/dist/fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("/dist/fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("/dist/fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("/dist/fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("/dist/fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("/dist/fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("/dist/fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("/dist/fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("/dist/fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("/dist/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("/dist/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("/dist/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}