head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Webfolio

    //- Подключаем слайдер

    script(src='dist/js/jquery-3.2.1.min.js')
    //- bxSlider Javascript file
    //- script(src='dist/js/jquery.bxslider.min.js')
    //- bxSlider CSS file
    //- link(href='dist/css/jquery.bxslider.css', rel='stylesheet')
    //- FancyBox
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js')
    //- Плавный скроллинг страницы
    //- script(src='dist/js/viewportChecker.js')

    //- Выбор языка
    //- script(src='dist/js/jquery.countrySelector.js')
   
    //- Bootstrap
    script(src='dist/js/bootstrap.min.js')

    //- Подключаем шрифты
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Indie+Flower" rel="stylesheet">

    //- Подключаем стили

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="dist/css/reset.css")
    link(rel="stylesheet", href="dist/css/bootstrap.min.css")
    //- link(rel="stylesheet", href="dist/css/animate.css")
    //- link(rel="stylesheet", href="dist/css/jquery-countryselector.min.css")
    link(rel='stylesheet', href='dist/css/style.css')

    //- Подключаем скрипты

    script(src='dist/js/script.js')
